.content-well {
  width: 800px;
  min-height: calc(100vh - 150px);
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-well__singleArticle {
  padding: 30px 60px;
}

.content-well__singleArticle p {
  text-align: left;
  line-height: 1.5em;
}

/* .comment {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #ddd;
}

.comment__header {
  text-align: center;
}

.comment__body {
  text-align: left;
  line-height: 1.5em;
} */

.articleElement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.articleElement * {
  padding: 7px 15px;
}

.button--voting {
}
