.pageNav {
  width: 250px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button--pagination {
  background-color: var(--LSG-6);
  color: #fff;
  font-size: 0.8em;
  border: 1px solid var(--LSG-7);
}

.button--pagination:hover {
  color: var(--LSG-5);
  background-color: var(--ONYX-1);
  font-size: 0.8em;
}

.button--disabled {
  background-color: var(--ONYX-2) !important;
  color: rgb(139, 139, 139);
  border-color: rgb(139, 139, 139);
  cursor: not-allowed;
}

.button--disabled:hover {
  color: var(--ONYX-4);
}

.description--noarticles {
  margin: 30px 10px;
}

.title {
  font-size: 1.5em;
  text-align: left;
  color: var(--LSG-7);
  margin: 0;
}

.title--noarticles {
  font-size: 4.5em;
  padding: 10px;
  margin: 10px;
}
