.content-well {
  width: 800px;
  height: 100%;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content-well__singleArticle {
  padding: 30px 60px;
}

.content-well__singleArticle p {
  text-align: left;
  line-height: 2em;
}
