.pageNav {
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button--pagination {
  background-color: var(--LSG-5);
  color: var(--ONYX-1);
  font-size: 0.8em;
}

.button--pagination:hover {
  color: var(--LSG-5);
  background-color: var(--ONYX-1);
  font-size: 0.8em;
}

.button--disabled {
  background-color: var(--ONYX-2) !important;
  color: rgb(139, 139, 139);
  border-color: rgb(139, 139, 139);
  cursor: not-allowed;
}

.button--disabled:hover {
  color: var(--ONYX-4);
}

.description--noarticles {
  margin: 30px 10px;
}

.content-well--noarticles {
  height: calc(100vh - 180px);
}
