.content-well {
  width: 800px;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.pageNav {
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button--pagination {
  background-color: var(--crayolaBlue);
  color: #fff;
  font-size: 0.8em;
}

.button--disabled {
  background-color: #ddd !important;
  color: rgb(139, 139, 139);
  border-color: rgb(139, 139, 139);
  cursor: not-allowed;
}
