.authPageContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.authPage__main {
  min-height: 300px;
  background-color: #fff;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
  border-radius: 5px;
}

.authPage__header h1,
.authPage__header h3 {
  margin: 0;
  padding: 0;
}

.title--auth {
  color: var(--LSG-5);
  font-size: 3em;
  padding-bottom: 5px;
  font-weight: 400;
  font-style: italic;
}

.subTitle--auth {
  font-size: 1.2em;
  text-align: center;
  color: var(--LSG-3);
  font-family: 'Roboto', sans-serif;
}

.authPage__form {
  width: 100%;
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authPage__form__username {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.authPage__form__label,
.authPage__form__input {
  font-size: 0.9em;
  margin: 5px;
}

.authPage__form__label {
  text-transform: uppercase;
  color: var(--LSG-5);
}

.authPage__form__input {
  border: 1px var(--ONYX-3) solid;
  padding: 5px;
}

.authPage__form__submit {
  width: 100%;
  margin: 5px auto;
  text-align: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.authPage__header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.load-wrapp--auth {
  margin: 0;
  padding: 0;
}
