article {
  padding: 10px;
  margin: 10px;
  background-color: white;
  text-align: center;
}

img {
  height: 50px;
}

.cardList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 2px solid var(--LSG-2);
  border-radius: 10px;
  background-color: var(--LSG-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 10px auto;
  width: 100%;
  max-width: 600px;
}

.card * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.card__title {
  font-size: 1.3em;
  font-weight: bold;
  color: var(--LSG-7);
  padding: 5px;
}

.card__title:hover {
  color: var(--LSG-8);
}

.card__authortopicdate {
  font-size: 0.8em;
  color: var(--LSG-5);
}

/* USERS PAGE */

.card--userCard {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userCard__username {
  padding: 5px;
}
