.comment {
  padding: 10px;
  margin: 10px;
  border-bottom: 1px solid #ddd;
}

.comment__header {
  text-align: center;
}

.comment__body {
  text-align: left;
  line-height: 1.5em;
}

.title--comments {
  font-size: 1.2em;
}
