.title--404 {
  font-size: 7em;
  font-weight: 300px;
}

.subTitle--404 {
  font-size: 2em;
  margin: 0 auto;
  text-align: center;
  color: var(--LSG-6);
}

.description {
  font-size: 1em;
  letter-spacing: 0.7px;
  text-align: center;
}

.description {
  color: var(--LSG-7);
}

.button--404 {
  margin-bottom: 40px;
}
