.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

h1 {
  padding: 10px;
  margin: 0;
}

.button__hamburger {
  font-size: 25px;
  padding: 5px;
  margin: 0;
  background: none;
  border: none;
}
