.header {
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
}

h1 {
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 2em;
  text-transform: uppercase;
  color: var(--crayolaBlue);
}

.button__hamburger {
  font-size: 30px;
  padding: 5px;
  margin: 0;
  background: none;
  border: none;
  color: var(--crayolaBlue);
}
