.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

h1 {
  padding: 10px;
  margin: 0;
}

button {
  font-size: 25px;
  padding: 5px;
  margin: 0;
  background: none;
  border: none;
}
