.nav {
  background: #fff;
  width: 200px;
  padding: 10px;
  height: 100%;
  opacity: 0;
  transition: 0.5s ease-in-out;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(200px);
  border-left: 1px solid var(--ONYX-1);
}

.nav--open {
  opacity: 1;
  transform: translateX(0px);
}

.navButtonsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.navButtonsContainer * {
  margin: 5px;
}

.topicsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 10px;
  padding: 5px 15px;
}

.topicSlug {
  margin: 5px;
}

.title--nav {
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--LSG-2);
  margin: 5px;
}

.button--nav--danger {
  background-color: var(--LSG-7);
  color: var(--ONYX-1);
  text-transform: uppercase;
  font-size: 0.9em;
  border: none;
}

.button--nav--danger:hover {
  background-color: var(--LSG-8);
}

.navLink {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9em;
}

.userDetails {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.userDetails__username {
  margin: 10px;
}

.userDetails__avatar {
  height: 30px;
}

.nav__user {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}
