.title--post {
  margin: 20px;
}

.postTopicForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.postTopicForm__input {
  width: 100%;
  padding: 10px;
  margin: 5px;
  background: transparent;
  outline: none;
  border: solid 1px var(--LSG-3);
  font-size: 14px;
}

.postTopicForm__textarea {
  height: 200px;
  width: 100%;
  padding: 10px;
  margin: 5px;
  background: transparent;
  outline: none;
  border: solid 1px var(--LSG-3);
  font-size: 14px;
}

.button--submit {
  width: 100px;
  margin: 20px auto;
}
