.sortBar {
  width: 100%;
  max-width: 600px;
  padding: 5px 5px 0 5px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortOption {
  flex: 1;
  text-align: center;
}

.sortLabel {
  text-transform: uppercase;
  cursor: pointer;
  color: var(--LSG-4);
  font-weight: bold;
  font-size: 0.75em;
  letter-spacing: 1px;
  display: inline-block;
  padding: 5px;
  width: 100%;
  border-bottom: 3px solid transparent;
}

.app-nav__input {
  opacity: 0;
  position: absolute;
  left: -1000px;
}
.app-nav__input:checked + label {
  color: var(--LSG-2);
  cursor: inherit;
  border-bottom: 3px solid var(--LSG-4);
}
