.profile__userCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px 0;
  height: 100%;
}

.profile__user_avatar {
  height: 120px;
  margin: 20px;
}

.profile__userCard__textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  height: 100%;
}

.profile__userCard__textContainer * {
  margin: 0;
  padding: 0;
}

.profile__userName {
  font-size: 2em;
  letter-spacing: 1px;
  color: var(--LSG-5);
}

.profile__userHandle {
  color: var(--LSG-3);
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.7px;
}

.userArticleCards {
  margin-bottom: 20px;
  width: 100%;
}

.userArticleCards h2 {
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  font-family: 'Roboto';
}

@media only screen and (max-width: 350px) {
  .profile__userCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .profile__user_avatar {
    height: 100px;
  }
  .profile__userCard__avatarContainer {
    max-height: 130px;
  }
  .profile__userCard__textContainer {
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100%;
  }
}
