.profile__userCard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  margin: 50px;
  height: 100px;
  width: 400px;
  background-color: var(--LSG-1);
  border: 2px solid var(--LSG-3);
  border-radius: 20px 10px 10px 20px;
}

.profile__user_avatar {
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  left: -25px;
  top: -15px;
  border: 5px solid var(--LSG-3);
  background-color: var(--ONYX-1);
}

.profile__userCard__textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.profile__userCard__textContainer * {
  margin: 0;
  padding: 0;
}

.profile__userName {
  font-size: 2em;
  letter-spacing: 1px;
  color: var(--LSG-5);
}

.profile__userHandle {
  color: var(--LSG-3);
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.7px;
}
