.votingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votingContainer--comment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.votingContainer * {
  padding: 0;
  font-size: 1em;
  margin: 0;
}

.button--voting {
  border: none;
  padding: 5px;
  color: var(--LSG-6);
  font-size: 28px;
}

.invisibleButton {
  border: none;
}

.invisibleButton--comment {
  border: none;
  height: 30px;
}

.button--voting--disabled {
  color: var(--LSG-2);
}
