.votingContainer {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.votingContainer * {
  margin: 3px;
  padding: 0;
  font-size: 0.8em;
}

.button--voting {
  border: none;
}
