.votingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.votingContainer * {
  padding: 0;
  font-size: 1em;
  margin: 0;
}

.button--voting {
  border: none;
  padding: 5px;
}

.invisibleButton {
  border: none;
}
